<!-- <head> in views/layouts/application.html.erb -->
    
    <%= javascript_include_tag "jquery.timepicker.min" %>
    <%= stylesheet_link_tag "jquery.timepicker" %>
    <%= javascript_include_tag "jquery-ui-datepicker" %>
    <%= stylesheet_link_tag "jquery-ui-datepicker" %>
  
  </head>
  
  <body> 
    <%= render 'header' %>
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h3 class="title-sub">Record volunteer hours</h3>
            <p class="grey lead inline">for (Organization name)</p><a class="change-org-popup_open half-margin-left">Change</a>
        </div>
        
        <div class="row center">
          <div class="left medium-9 small-centered columns">
            <div class="small-12 medium-8 columns">
              <label for="volunteer-select" class="inline">Volunteer name</label>
              
              <select id="volunteer-select">
                <option disabled selected hidden>Select volunteer</option>
                <option>(volunteers)</option>
              </select>   
            </div>
            
            <div class="center input-middle small-12 medium-4 columns">
              <div class="hide-for-small-only three-halves-margin-top">
              </div>
              
              <button class="add-volunteer-popup_open button small round secondary">Add volunteer</button>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="left medium-9 small-centered columns">
            <div class="small-12 medium-4 columns">
              <label>Date</label>
              <input type="text" id="volunteer-date" name="" value=""/>
            </div>
            
            <div class="small-6 medium-4 columns">
              <label>Start time</label>
              <input type="text" id="start-time" name="" value="12:00:00"/>
            </div>
            
            <div class="small-6 medium-4 columns">
              <label>End time</label>
              <input type="text" id="end-time" name="" value="12:00:00"/>
            </div>
            
            <div class="small-12 columns">
              <input type="text" name="" placeholder="Description of work"/>
            </div>
          </div>
        </div>
        
        <div class="row half-margin-top">
          <input type="submit" id="" class="button round" value="Submit"/>
        </div>
        
      <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      <%= render "footer" %>
      
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <%= render 'menu' %>
    </div>
  
    <div id="change-org-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Change organization</h3>
      </div>
      
      <form>
        <div class="row">
          <div class="center small-centered small-10 medium-8 columns">  
            <input type="email" placeholder="Organization email"/>
            <input type="password" placeholder="Password"/>
          </div>
          
          <div class="center three-halves-margin-top">
            <button class="tax-id-popup_close button round">Log in</button>
            <button class="button round secondary">New account</button>
          </div>
        </div>
      </form>
    </div>
    
    <div id="add-volunteer-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h3 class="popup-title">Add volunteer</h3>
      </div>
      
      <form>
        <div class="row">
          <div class="center small-centered small-10 medium-8 columns">
            
            <input type="radio" id="vol-signin-1" name="vol-signin-[]" value="" class="hidden" checked/>
              <label for="vol-signin-1" class="button round secondary small">New user</label>
            <input type="radio" id="vol-signin-2" name="vol-signin-[]" value="" class="hidden"/>
              <label for="vol-signin-2" class="button round secondary small">Existing user</label>
              
            <div id="vol-signup" class="half-margin-top">
              <input type="email" placeholder="Volunteer email"/>
              <input type="password" placeholder="Password"/>
              <input id="verify-pw" type="password" placeholder="Verify password"/>
                            
              <div class="row">
                <input type="submit" value="Create account" class="button round"/> 
              </div>
            </div>
            
            <div id="vol-login" class="hidden half-margin-top">
              <input type="email" placeholder="Volunteer email"/>
              <input type="password" placeholder="Password"/>
              
              <div class="row">
                <input type="submit" value="Connect account" class="button round"/> 
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        
        $('#volunteer-date').datepicker({ 
          dateFormat: 'yy-mm-dd',
        }).datepicker("setDate", new Date());
        
        $('#start-time, #end-time').timepicker({
          step: 15,
        });
        
        $('#change-org-popup, #add-volunteer-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('input[type="radio"]').click(function() {
          if($(this).attr('id') == 'vol-signin-2') {
            $('#vol-signup').slideUp(400, function() {
              $('#vol-login').slideDown();
            });
            
          }
          else {
            $('#vol-login').slideUp(400, function () {
              $('#vol-signup').slideDown(); 
            });  
          }
        });
      });
    </script>
    
    <script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();
      } ) ( jQuery );
    </script>

    <script>
      // Initialize Slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle Slidebars
      $( '.toggle-menu' ).on( 'click', function ( event ) {
        // Stop default action and bubbling
        event.stopPropagation();
        event.preventDefault();

        // Toggle the Slidebar with id 'id-1'
        controller.toggle( 'menu' );
        
        // Close any
        $( document ).on( 'click', '.js-close-any', function ( event ) {
          if ( controller.getActiveSlidebar() ) {
            event.preventDefault();
            event.stopPropagation();
            controller.close();
          }
        } );
      } );
    </script>
  </body>
</html>